<% if (!loggedIn & !adminLoggedIn) { %>
    <header class="p-3 text-bg-dark ">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none me-2">
                    <img src="/imgs/logo.png" height="45" width="200">
                </a>
    
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
                    <li><a href="/search" class="nav-link px-2 text-white">Search</a></li>
                    <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
                </ul>
    
                <div class="text-end">
                    <a href="/signin" class="btn btn-outline-light me-2">Login</a>
                    <a href="/signup"  class="btn btn-warning">Sign-up</a>
                </div>
            </div>
        </div>
    </header>
     
<% } %>


<% if (loggedIn) { %>
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start p-1 bg-user">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0  text-decoration-none me-2">
            <img src="/imgs/logo.png" height="45" width="200">
        </a>
    
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 text-white">
            <li><a href="/" class="nav-link px-2 link-secondary active">Home</a></li>
            <li><a href="/search" class="nav-link px-2 text-light">Search</a></li>
            <li><a href="/upload" class="nav-link px-2 text-light">Upload</a></li>
            <li><a href="/view-uploads" class="nav-link px-2 link-light">View Uploads</a></li>
            <li><a href="/request" class="nav-link px-2 link-light">Request Book</a></li>
        </ul>
    
    
        <div class="dropdown text-end">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                <img src="imgs/cookie-the-pom-gySMaocSdqs-unsplash.jpg" alt="mdo" width="32" height="32"
                    class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small">
                <li><a class="dropdown-item" href="/profile">Profile</a></li>

                <li><a class="dropdown-item" href="/logout">Sign out</a></li>
            </ul>
        </div>
    </div>
    <% } %>


<% if (adminLoggedIn) { %>

<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start bg-admin p-1 ">
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 me-2 text-decoration-none">
        <img src="/imgs/logo.png" height="45" width="200">
    </a>

    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 text-white">
        <li><a href="/" class="nav-link px-2 link-secondary active">Home</a></li>
        <li><a href="/search" class="nav-link px-2 text-light">Search</a></li>
        <li><a href="/upload" class="nav-link px-2 text-light">Upload</a></li>
        <li><a href="/view-all-uploads" class="nav-link px-2 link-light">View All Uploads</a></li>
        <li><a href="/view-users" class="nav-link px-2 link-light">View Users</a></li>
        <li><a href="/requested" class="nav-link px-2 link-light">Requested Books</a></li>

    </ul>


    <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img src="/imgs/cookie-the-pom-gySMaocSdqs-unsplash.jpg" alt="mdo" width="32" height="32"
                class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small">

            <li><a class="dropdown-item" href="/logout">Sign out</a></li>
        </ul>
    </div>
</div>
<% } %>

