<%- include ('includes/head'); -%>

    <body class="">

        <%- include ('includes/header'); -%>


            <main class="p-5 text-white">
                <h1>404</h1>



            </main>



            <%- include ('includes/footer'); -%>

    </body>

    </html>