<% include ('includes/head'); %>

    <body class="book">

        <%- include('includes/header'); -%>

            <main class="p-5 text-white">
                <div class="row">
                    <div class="col-md-3">
                        <div>
                            <img src="./imgs/c.jpg" class="bookimg" height="400">

                        </div>
                        <div class="my-1">
                            <button type="button" class="btn btn-lg w-100 btn-warning">Download</button>

                        </div>
                    </div>
                    <div class="col-md-9">
                        <div>
                            <h3>
                                <strong>
                                    Perspectives in Dynamical Systems I: Mechatronics and Life Sciences: DSTA, Łódź,
                                    Poland
                                    December 2–5, 2019
                                </strong>
                            </h3>
                            <p>
                                <span class="title"> Series:</span> Springer Proceedings in Mathematics and Statistics
                                №362
                            </p>
                            <p>
                                <span class="title"> Title: </span>Perspectives in Dynamical Systems I: Mechatronics and
                                Life
                                Sciences: DSTA, Łódź, Poland
                                December 2–5, 2019 Edition: 1
                            </p>
                            <p>
                                <span class="title">Author(s): </span>Jan Awrejcewicz;(eds.)
                            </p>
                            <p>
                                <span class="title">Publisher: </span>Springer
                            </p>
                            <p>
                                <span class="title">Year: </span>2022
                            </p>
                            <p>
                                <span class="title">Pages:</span> XI, 286
                            </p>
                            <p>
                                <span class="title">ISBN:</span> 9783030773069; 303077306X; 9783030773052; 3030773051;
                                9783030773083; 3030773086
                            </p>
                            <p>
                                <span class="title">Language:</span> English
                            </p>
                            <p>
                                <span class="title">Tags: </span>Biomechanics; Dynamical Systems and Ergodic Theory;
                                Measure and
                                Integration; Mechatronics;
                                Numerical Analysis; Ordinary Differential Equations
                            </p>


                        </div>
                        <div>

                            <h5 class="text-warning">
                                <strong>
                                    Info
                                </strong>

                            </h5>
                            <p>This volume is part of collection of contributions devoted to analytical and experimental
                                techniques of dynamical systems, presented at the 15th International Conference
                                “Dynamical
                                Systems: Theory and Applications”, held in Łódź, Poland on December 2-5, 2019. The wide
                                selection of material has been divided into three volumes, each focusing on a different
                                field of
                                applications of dynamical systems.</p>
                        </div>
                    </div>
                </div>



            </main>



            <% include ('includes/footer'); %>

    </body>

    </html>