<% include ('includes/head'); %>

<body class="upload">

  <% include ('includes/header'); %>


  <div class="text-light mt-5">
    <h1 class="text-center">Users</h1>
  </div>
  <div class="bd-example m-3
     mt-1 p-2 " style="background-color: #fff;">
    <table class="table table-hover table-striped my-0">
      <thead>
        <tr>
          <th scope="col">Full name</th>
          <th scope="col">Email</th>
          <th scope="col">Number of uploads</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Hawkins, Anne S</td>
          <td>ekwo.chinonso.01@yahoo</td>
          <td>20</td>
          <td>
            <div class="dropstart">
              <button class="btn btn-secondary">
                Delete
              </button>

            </div>
          </td>
        </tr>
        <tr>
          <td>Hawkins, Anne S</td>
          <td>ekwo.chinonso.01@yahoo</td>
          <td>20</td>
          <td>
            <div class="dropstart">
              <button class="btn btn-secondary">
                Delete
              </button>

            </div>
          </td>
        </tr>
        <tr>
          <td>Hawkins, Anne S</td>
          <td>ekwo.chinonso.01@yahoo</td>
          <td>20</td>
          <td>
            <div class="dropstart">
              <button class="btn btn-secondary">
                Delete
              </button>

            </div>
          </td>
        </tr>
        <tr>
          <td>Hawkins, Anne S</td>
          <td>ekwo.chinonso.01@yahoo</td>
          <td>20</td>
          <td>
            <div class="dropstart">
              <button class="btn btn-secondary">
                Delete
              </button>

            </div>
          </td>
        </tr>
        <tr>
          <td>Hawkins, Anne S</td>
          <td>ekwo.chinonso.01@yahoo</td>
          <td>20</td>
          <td>
            <div class="dropstart">
              <button class="btn btn-secondary">
                Delete
              </button>

            </div>
          </td>
        </tr>

      </tbody>

    </table>
  </div>


  <% include ('includes/footer'); %>

</body>

</html>