
<% include ('includes/head'); %>

<body class="upload">

    <% include ('includes/header'); %>


    <div class="bd-example mt-5 " style="background-color: #fff;">
        <div class="bg-light p-2"> <h1 class="text-center">Your Uploads</h1></div>


        <table class="table table-hover table-striped my-0">
            <thead>
                <tr>
                    <th scope="col">Cover</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Publisher</th>
                    <th scope="col">Year</th>
                    <th scope="col">Type</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="./imgs/a.jpg" width="70" height="100"></td>
                    <td><strong>Lecture notes-monograph series / Institute of Mathematical Statistics 5</strong>
                        <p>Inequalities in statistics and probability: proceedings of the Symposium on Inequalities
                            in Statistics and Probability, October 27-30, 1982, Lincoln, Nebraska</p>
                    </td>
                    <td>Hawkins, Anne S. ;Panel, School Statistics</td>
                    <td>Institute of Mathematical Statistics</td>
                    <td>2019</td>
                    <td> Scientific Articles</td>
                    <td><div class="dropstart">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Action
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Edit</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Delete</a></li>
                        </ul>
                      </div></td>
                </tr>
                <tr>
                    <td><img src="./imgs/b.png" width="70" height="100"></td>
                    <td><strong>Lecture notes-monograph series / Institute of Mathematical Statistics 5</strong>
                        <p>Inequalities in statistics and probability: proceedings of the Symposium on Inequalities
                            in Statistics and Probability, October 27-30, 1982, Lincoln, Nebraska</p>
                    </td>
                    <td>Hawkins, Anne S. ;Panel, School Statistics</td>
                    <td>Institute of Mathematical Statistics</td>
                    <td>2019</td>
                    <td> Scientific Articles

                    </td>
                    <td>English</td>
                </tr>
                <tr>
                    <td><img src="./imgs/c.jpg" width="70" height="100"></td>
                    <td><strong>Lecture notes-monograph series / Institute of Mathematical Statistics 5</strong>
                        <p>Inequalities in statistics and probability: proceedings of the Symposium on Inequalities
                            in Statistics and Probability, October 27-30, 1982, Lincoln, Nebraska</p>
                    </td>
                    <td>Hawkins, Anne S. ;Panel, School Statistics</td>
                    <td>Institute of Mathematical Statistics</td>
                    <td>2019</td>
                    <td> Scientific Articles</td>
                    <td>English</td>
                </tr>


            </tbody>

        </table>
    </div>

    <% include ('includes/footer'); %> 


</body>

</html>